* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(55, 53, 71);
  height: 100%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formulario {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(15, 16, 49);
  padding: 40px;
  border-radius: 10px;

}

.formulario h1{
  margin-bottom: 5px;
}

.formulario input{
  padding: 10px;
  border-radius: 5px;
  outline-color: gray;
}

.submit{
  background-color: rgb(43, 52, 61);
  color: white;
  border: none;
  margin-top: 10px;
  font-weight: 700;
}